
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  min-height: 100vh;
  min-width: 100vw;
  touch-action: manipulation;
}

.App{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between; 
  justify-content: space-between;
  
  /* padding: 0 20px 20px 20px; */
  min-height: 100vh !important;
  min-width: 100vw !important;
  animation: fade 800ms 500ms linear forwards;
}
@keyframes fade {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;} 
}

::-webkit-scrollbar {
  height: 8px
}
::-webkit-scrollbar-track {
  background: #ffffff55
}
::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
  border-radius: 2px;
}
