
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
}
.CurrentWeather::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 0;
  /* background-color: #ffffff55 !important; */
  backdrop-filter: blur(5px) !important;
}
body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
}

.App{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* padding: 0 20px 20px 20px; */
  height: 100%;
  width: 100%;
  animation: fade 800ms 500ms linear forwards;
}
@keyframes fade {
  0%{opacity: 0;}
  50%{opacity: 0.5;}
  100%{opacity: 1;} 
}

::-webkit-scrollbar {
  height: 8px
}
::-webkit-scrollbar-track {
  background: #ffffff55
}
::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
  border-radius: 2px;
}
