
:root{
    --phone-xSmall-font:9px;
    --phone-small-font:12px;
    --phone-medium-font:14px;
    --phone-large-font:18px;
    --phone-xLarge-font:22px;

    --tablet-xSmall-font:11px;
    --tablet-small-font:14px;
    --tablet-medium-font:18px;
    --tablet-large-font:22px;
    --tablet-xLarge-font:26px;

}
@media (max-width:600px){
    .Nav__text, .Footer__text{
        font-size: var(--phone-medium-font) !important;
        font-weight: bold !important;
        padding: 0.2rem 0rem;
    }
    .SearchBar{
        flex-direction: column !important;
    }
    .SearchBar__container2,.SearchBar__container1{
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        justify-content: center; align-items: center;
    }
    .SearchBar__inputField, .SearchBar__inputField::placeholder{
        font-size: var(--phone-medium-font) !important;
        /* font-weight: bold !important; */
    }
    .SearchBar__inputField{
        width: 100% !important;
    }
    .SearchBar__locationButton{
        padding: 0.4rem 2rem !important;
        display: block !important;
        text-align: start !important;
    }
    .CurrentWeather__weatherIcon{
        height: 6rem !important;
        width: 6rem !important;
    }
    .SearchBar__locationButton, .SearchBar__searchButton{
        width: 100% !important; 
        font-size: var(--phone-medium-font) !important;
        /* font-weight: bold !important; */
    }
    .CurrentWeather{flex-direction:column !important;}
    .CurrentWeather__label{
        font-size: var(--phone-large-font) !important;
        font-weight: bold !important;
    }
    .CurrentWeather__description, .CurrentWeather__temperature{
        /* font-size: var(--phone-medium-font) !important; */
        font-weight: bold !important;
    }
    .CurrentWeather__box{
        flex-direction: row !important;
        align-items: center !important; justify-content: center !important;
        min-height: 8rem !important;
        padding: 8px 0px  !important;
        gap: 0rem !important;
        flex-wrap: wrap !important;
    }   
    .CurrentWeather__compDescCon, .CurrentWeather__comDesc{
        width: 100% !important;
        text-align: center !important;
    }
    /*  */
    .CurrentWeather__dateNlabel, .CurrentWeather__iconTextTempCon{
        width: auto !important;
    }
    .CurrentWeather__dateNlabel{
        flex-direction: column-reverse !important;
    }
    .WeatherForecast__label{
        font-size: var(--phone-small-font) !important;
        font-weight: bold !important;
    }
    .CurrentWeather__descText{
        font-size: var(--phone-medium-font) !important;
    }
    .WeatherForecast__container2{
        overflow-x: scroll !important;
    }
    .OneDayForecast__day,.OneDayForecast__highestTemperature,.OneDayForecast__lowestTemperature{
        font-size: var(--phone-small-font) !important;
        font-weight: bold !important;
    }

    .HourlyWeatherChart{
        min-height: 12rem !important;
    }
    .HourlyWeatherChart > p{
        font-size: var(--tablet-medium-font);
    }
    .HourlyWeather{
        display: flex !important;
    }
    .SearchBar__suggestionsUl{
        top: 2rem !important;
    }
    .SearchBar__liCity, .SearchBar__state, .SearchBar__country{
        font-size: var(--phone-medium-font) !important;
    }
    .CurrentWeather__dateNlabel{
        width: 100% !important;
    }
    .CurrentWeather__iconTextTempCon{
        width: 100% !important;
    }
    .CurrentWeather__compDesc{
        padding: 0rem !important;
        text-align: start;
        font-size: var(--phone-medium-font) !important;
    }
}

@media (min-width:601px) and (max-width:768px){
    
    .Nav__text,.Footer__text{
        font-weight: bold !important;
        font-size: var(--tablet-small-font) !important;
        padding: 0.3rem 0rem !important;
    }

    .SearchBar__container2{
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        justify-content: center; align-items: center;
    }
    .SearchBar__inputField{
        padding:0.2rem 2rem !important; 
        font-size: var(--tablet-small-font) !important;
        /* font-weight: bold !important; */
    }
    .SearchBar__inputField::placeholder{
        font-size: var(--tablet-small-font) !important;
        /* font-weight: bold !important; */
    }
    .SearchBar__locationButton{
        flex:1;
        padding: 0.2rem 1rem !important;
        font-size: var(--tablet-small-font) !important;
        /* font-weight:bold!important; */
    }
    .SearchBar__searchButton{
        flex:1;
        padding: 0.2rem 0rem !important;
        font-size: var(--tablet-small-font) !important;
        font-weight:bold!important;
    }
    .CurrentWeather{flex-direction:column !important;}
    .CurrentWeather__box{
        flex-direction: row !important;
        align-items: center !important; justify-content: center !important;
        min-height: 8rem !important;
        padding: 0rem !important;
        gap: 0rem !important;
        flex-wrap: wrap !important;
    }   
    .CurrentWeather__boxCon{
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-evenly !important;
        /* gap: 1rem; */
        flex-wrap: nowrap !important;
    }
    .CurrentWeather__compDescCon{
        width: 200px !important;
        text-align: start !important;
        /* border: 1px solid black; */
        background-color: var(--primary-color);
        border-radius: 4px;
        color: white;
    }
    .CurrentWeather__compDesc{
        font-size: var(--tablet-small-font)!important;
    }
    /*  */
     .CurrentWeather__iconTextTempCon{
        max-width: 200px !important;
        width: 200px !important;
    }
    .CurrentWeather__dateNlabel{
        max-width: 100px !important;
        width: auto !important;
    }
    .CurrentWeather__dateNlabel{
        flex-direction: column-reverse !important;
    }
    .CurrentWeather__label{
        font-size: var(--tablet-large-font) !important;
        font-weight: bold !important;
    }
    .CurrentWeather__temperature, .CurrentWeather__description{
        /* font-size: var(--tablet-medium-font) !important; */
        font-weight: bold !important;
    }
    .CurrentWeather__descText{
        font-size: var(--phone-medium-font) !important;
    }
    .CurrentWeather__weatherIconImg{
        width: 5rem !important;
        padding: 0.4rem 0rem !important ;
    }
    .CurrentWeather__weatherIcon{
        width: auto !important;
    }
    /* .CurrentWeather__compDescCon{
        width: 100% !important;
    } */
    /* .CurrentWeather__compDesc{
        width: 100% !important;
        text-align: start !important;
    } */
    .WeatherForecast__label{
        font-size: var(--phone-medium-font) !important;
    }
    .WeatherForecast__container2{
        overflow-x: scroll !important;
    }
    .HourlyWeatherChart > p {
        font-size: var(--tablet-medium-font);
    }
    .OneDayForecast__day, .OneDayForecast__highestTemperature, .OneDayForecast__lowestTemperature{
        font-size: var(--tablet-small-font) !important;
        font-weight: bold !important;
    }
    .SearchBar__suggestionsUl{
        top: 1.8rem !important;
    }
    .SearchBar__liCity, .SearchBar__state, .SearchBar__country{
        font-size: var(--tablet-small-font) !important;
    }
}

@media (min-width:769px) and (max-width:1024px){
    .Nav__text, .Footer__text{
        padding: 0.3rem 0rem !important;
        font-size: var(--tablet-medium-font) !important;
        font-weight: bold !important;
    }
    .SearchBar__container1{}
    .SearchBar__container2{
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        justify-content: center; align-items: center;
    }
    .SearchBar__inputField{
        padding: 0.2rem 2rem !important;
        font-size: var(--tablet-medium-font) !important;
        /* font-weight: bold !important; */
    }
    .SearchBar__locationSVG{
        width: 1rem !important;
    }
    .SearchBar__locationButton{
        flex:1;
        padding: 0.2rem 1rem !important;
        font-size: var(--tablet-medium-font) !important;
        /* font-weight: bold !important; */
    }
    .SearchBar__searchButton{
        flex:1;
        padding: 0.2rem 1rem !important;
        font-size: var(--tablet-medium-font) !important;
        font-weight: bold !important;
    }
    .CurrentWeather__box{
        display: flex;
        justify-content: flex-start !important;
        align-items: center !important;
        /* padding: 0px 0px 4px 20px ; */
    }
    .CurrentWeather__boxCon{
        flex-direction: row !important;
        align-items: center !important; justify-content: space-evenly !important;
        /* min-height: 10rem !important; */
        padding: 0px 0px 0px 0px !important;
        gap: 1rem !important;
        /* flex-wrap: wrap !important; */
        /* width: 80% !important; */
    }   
    .CurrentWeather__compDescCon{
        text-align: start !important;
        width: 200px !important;
        /* border: 1px solid black; */
        border-radius: 4px;
        padding: 4px;
        /* margin-left: 2rem; */
        background-color: var(--primary-color);
        color: white;
    }
    .CurrentWeather__comDesc{
        text-align: start !important;
    }
    /*  */
    .CurrentWeather__dateNlabel, .CurrentWeather__iconTextTempCon{
        width: auto !important;
    }
    .CurrentWeather__dateNlabel{
        flex-direction: column-reverse !important;
    }
    .CurrentWeather__weatherIcon {
        width: 6rem !important;
    }
    .CurrentWeather__label{
        font-size: var(--tablet-large-font) !important;
        font-weight: bold !important;
    }
    .CurrentWeather__temperature, .CurrentWeather__description{
        /* font-size: var(--tablet-medium-font) !important; */
    }
    .CurrentWeather{flex-direction:column !important;}
    .OneDayForecast__box{width: 5rem !important;}
    .WeatherForecast__label{
        font-size: var(--tablet-medium-font) !important;
    }
    .WeatherForecast__container2{
        overflow-x: scroll !important;
    }
    
    .OneDayForecast__day, .OneDayForecast__highestTemperature, .OneDayForecast__lowestTemperature{
        font-size: var(--tablet-small-font) !important;
        font-weight: bold !important;
    }
    .SearchBar__suggestionsUl{
        top: 1.8rem !important;
    }
    .SearchBar__liCity, .SearchBar__state, .SearchBar__country{
        font-size: var(--tablet-small-font) !important;
    }
}
@media (min-width:1025px) {
    .SearchBar__locationSVG{
        width: 1.5rem !important;
    }
    .SearchBar__inputField:hover + .SearchBar__locationSVG{
        transition: all ease 600ms;
        transform: translateY(-1.6rem) ;
    }
    .SearchBar__currentLocationSVG{
        position: relative !important; 
        right: unset !important;
    }

    .CurrentWeather__box{
        width: 10rem;
    }
}